body{
    background-color: rgb(212, 208, 208);
}
form{
    background-color: rgb(75, 75, 95);
    margin: 30px;
    padding: 30px;
}
label, input, p, select{
    font-size: 20px;
    color: black;
    margin: 4px;
}
input{
    background-color: rgb(28, 34, 34);
    color: white;
}
p{
    font-weight: bold;
}
.submit-button{
    width: 150px;
    font-size: 30px;
    border-radius: 5px;
}
.submit-button:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px rgb(124, 65, 65);
}